@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./reset.css');
@import url('./variables.css');
@import url('./common.css');

@font-face {
	font-family: Gogh;
	font-weight: 800;
	src: url('../assets/fonts/Gogh-ExtraBold.otf');
}

/* Header */
.header {
	background: var(--color-gray-white);
	box-shadow: 0 0 25px 0 var(--color-shadow);
	height: 72px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.header-content {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	padding: 0 40px;
}

.header-wrapper {
	height: 72px;
	overflow: hidden;
	width: 160px;
}

.menu-toggle {
	display: none;
	padding: 12px;
}

.menu-toggle__burger {
	display: block;
}

.menu-toggle__close {
	display: none;
}

.menu-toggle input:checked ~ .menu-toggle__burger {
	display: none;
}

.menu-toggle input:checked ~ .menu-toggle__close {
	display: block;
}

.menu__socials {
	display: none;
}

.logo {
	background: top url('../assets/logos/logo-desktop.svg') no-repeat,
		center url('../assets/logos/up-hover.svg') no-repeat;
	cursor: pointer;
	display: block;
	height: 150px;
	margin-top: 10px;
	transition: translate 0.3s ease;
}

.logo:hover {
	translate: 0 -50px;
}

.logo:active {
	background: top url('../assets/logos/logo-desktop.svg') no-repeat,
		center url('../assets/logos/up-press.svg') no-repeat;
}

.header-wrapper:has(input:checked) .logo {
	display: none;
}

.logo-replacer {
	display: none;
}

.header-wrapper:has(input:checked) .logo-replacer {
	display: block;
}

.menu {
	align-items: center;
	display: flex;
	gap: 32px;
}

.menu__list {
	display: flex;
	gap: 12px;
}

.menu__to-form {
	cursor: pointer;
	display: block;
	font-size: var(--font-size-t3_b-1920);
	font-weight: var(--font-weight-t3_b);
}

/* Main */

/* Hero */
.hero {
	background: var(--color-gray-white);
}

.hero-content {
	display: grid;
	gap: 60px 40px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding-top: 40px;
}

.hero__info {
	grid-area: 1 / span 1;
}

.hero__heading {
	margin-top: 80px;
}

.hero__description {
	margin-top: 40px;
	width: 70%;
}

.hero__banner {
	align-self: start;
	display: flex;
	align-items: center;
	gap: 20px;
	grid-area: 2 / span 1;
	max-width: 504px;
	white-space: nowrap;
}

.hero__images {
	display: grid;
	gap: 20px;
	grid-area: span 2 / span 1;
	grid-auto-flow: column;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr;
	height: min-content;
}

.hero__image {
	border-radius: 8px;
}

li:has(.hero__image):last-of-type {
	translate: 0 50%;
}

/* Vacancy */
.vacancy {
	background: var(--color-gray-lighter);
}

.vacancy-content {
	display: grid;
	gap: 140px;
	grid-template-columns: 1fr 1fr;
	position: relative;
}

.vacancy__about {
	align-self: start;
	display: flex;
	flex-flow: column nowrap;
	gap: 80px;
	position: sticky;
	top: 80px;
}

.vacancy__about__text {
	margin-top: 40px;
	width: 90%;
}

.vacancy__banners {
	display: flex;
	flex-flow: column nowrap;
	gap: 20px;
}

.vacancy__banner {
	display: flex;
	flex-flow: column nowrap;
	gap: 20px;
}

.vacancy__images {
	display: flex;
	flex-flow: column nowrap;
	gap: 40px;
}

.vacancy__image {
	border-radius: 8px;
	width: 100%;
}

/* Slider */
.slider {
	background: var(--color-gray-white);
	display: grid;
	grid-template-columns: minmax(40px, 1fr) auto minmax(40px, 1fr);
	overflow-x: hidden;
}

.slider-content {
	padding: 120px 0;
	width: 1420px;
}

.slider-hider {
	background: var(--color-gray-white);
	z-index: 1;
}

.slider__head {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.slides {
	display: flex;
	gap: 20px;
	left: 0;
	margin-top: 40px;
	position: relative;
}

.slide {
	border-radius: 8px;
	min-width: 340px;
	overflow: hidden;
	position: relative;
}

.slide__caption {
	background: var(--color-gray-black);
	border-radius: 8px;
	bottom: 0;
	display: grid;
	left: 0;
	padding: 12px;
	place-items: center;
	position: absolute;
	width: 100%;
}

/* Image Picker */
.image-picker {
	background: var(--color-gray-lighter);
}

.image-picker-content {
	align-items: start;
	display: flex;
	gap: 40px;
}

.image-picker__buttons {
	display: flex;
	flex: 1;
	flex-flow: column nowrap;
	gap: 20px;
	min-width: 0;
}

.picked-image {
	border-radius: 8px;
	flex: 1;
	min-width: 0;
	object-fit: contain;
}

/* FAQ */
.faq__list {
	display: flex;
	flex-flow: column nowrap;
	gap: 20px;
	margin-top: 60px;
}

/* Form */
.footer {
	background: var(--color-gray-black);
}

.form-container {
	background-image: url('../assets/img/form/form-bg-desktop.png');
	background-repeat: no-repeat;
	border-radius: 4px;
	column-gap: 40px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 60px;
}

.form-info {
	grid-area: span 1 / span 2;
	left: 0;
}

.form-info__heading {
	color: var(--color-gray-white);
}

.form-info__text {
	margin-top: 24px;
}

.form-contacts {
	align-self: flex-end;
	display: flex;
	flex-flow: column nowrap;
	gap: 32px;
	grid-area: 2 / span 2;
}

.form-info__socials {
	display: flex;
	gap: 12px;
}

.form {
	background: var(--color-gray-white);
	border-radius: 8px;
	grid-area: span 2 / span 3;
	max-width: 780px;
	padding: 40px;
}

.form__inputs {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.form__submit {
	display: flex;
	gap: 20px;
	margin-top: 20px;
}

.form__submit__politics {
	align-items: top;
	cursor: pointer;
	display: flex;
}
